{% import "_includes/forms" as forms %}

{% macro uploadLocationInput(settings, volumeOptions) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: 'volume',
                name: 'volume',
                options: volumeOptions,
                value: settings.volume,
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: 'subpath',
                class: 'ltr',
                name: 'subpath',
                value: settings.subpath,
                placeholder: "path/to/subfolder"|t('instagramfeed')
            }) }}
        </div>
    </div>
{% endmacro %}

{% from _self import uploadLocationInput %}

{{ forms.autosuggestField({
    label: "Username"|t("instagramfeed"),
    id: 'instagramUser',
    name: 'instagramUser',
    instructions: "Please, enter your Instagram username."|t("instagramfeed"),
    value: settings.instagramUser,
    suggestEnvVars: true,
    type: 'text',
    required: true
}) }}

{{ forms.checkboxField({
    label: 'Use volume to store the Instagram images'|t('instagramfeed'),
    id: 'useVolume',
    name: 'useVolume',
    value: 1,
    checked: settings.useVolume,
    toggle: 'volume-settings'
}) }}

<div id="volume-settings"{% if not settings.useVolume %} class="hidden"{% endif %}>
{{ forms.field({
    label: 'Location'|t('app'),
    instructions: 'Where Instagram images should be stored.'|t('instagramfeed'),
    errors: settings.getErrors('location')
}, uploadLocationInput(settings, volumeOptions)) }}
</div>

{% if settings.useProxy %}
    {% if settings.proxyKey == "" %}
    <p style="color: red;">{{ "Proxy usage is enabled but the proxy key is empty, so the proxy will not be used." }}</p>
    {% else %}
    <p style="color: green;">{{ "Proxy will be used." }}</p>
    {% endif %}
{% endif %}

<p>{{ "Make sure the entered Instagram user profile is not private."|t("instagramfeed") }}</p>
